extends layout

block content
  md-toolbar(layout='row')
    .md-toolbar-tools
      md-button.md-icon-button(ng-click="toggleSidenav('left')" hide-gt-sm)
        //- ng-md-icon(aria-label='Menu' icon='menu' style='fill:white')
        md-icon(aria-label='Menu' md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
      h1 FlowFriends
  div(layout='row' flex)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open='$mdMedia("gt-sm")')
    #content(layout='column' flex)
      md-content.md-padding(layout='column' flex)









  //- div
  //-   ul.menu
  //-     li
  //-       a(ui-sref='view1') view1
  //-     li
  //-       a(ui-sref='view2') view2

  //-   div(ui-view)

  //-   div
  //-     | Angular seed app: v
  //-     span(app-version)
