doctype html
html(ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Angular | Jade
    //- base(href='/')
    include partials/stylesheets
  body(layout='column' ng-controller="AppCtrl")
    //- include partials/header

    block content

    //- include partials/footer

    include partials/javascripts
